<%= render "shared/meta" %>
<div class="panel fundo-login">
  <h3 class="login-title">Cadastre-se</h3>

  <div class="panel-body">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input" %>
      </div>

      <div class="field">
        <%= f.label "Senha:" %>
        <% if @minimum_password_length %>
          <em>(No mínimo <%= @minimum_password_length %> caracteres)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control input" %>
      </div>

      <div class="field">
        <%= f.label "Confirme a senha:" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control input" %>
      </div>

      <div class="actions">
        <%= f.submit "Cadastrar!", :class => 'btn btn-block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
<script>
    document.body.style = "background-color: #333333;";
</script>
